/vendor/
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/storage/*.key
/storage/logs/*
!/storage/logs/.gitkeep
/public/logos/*
!/public/logos/default.svg
.DS_Store
*.sqlite
*.sqlite3
*.db
/db/*.db
/db/*.sqlite
/db/*.sqlite3
